{% extends 'base.html' %}
{% block content %}
<!-- 반응형 컨테이너 -->
<div class="main_chat d-flex flex-grow-1 vh-100 w-100 mb-5 align-items-center justify-content-center">
    <div class="container">
        <!-- 채팅창 -->
        <div class="box-wrap">
            <div class="container chat-box">
                {% if question %}
                <div class="bubble-q">
                    <div class="bubble">
                        질문이욤 질문이욤 질문이욤 질문이욤                     
                    </div>
                </div>
                {% endif %}
                <div class="bubble-a">
                    <div class="bubble">
                        대답이용 대답이용대답이용대답이용
                    </div>
                </div>
            </div>
            <div class="chat-input container">
                <textarea class="form-control" name="question" id="question" rows="1" placeholder="원하는 숙소를 검색해 보세요!"></textarea>
                <!-- {{ form.content.value|default_if_none:'' }} -->
                <button class="btn btn-primary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}