{% extends 'base.html' %}
{% block content %}
<!-- 반응형 컨테이너 -->
<div class="main_chat d-flex flex-grow-1  w-100 align-items-center justify-content-center">
    <div class="container">
        <!-- 채팅창 -->
        <div class="box-wrap">
            <div id="chat-box" class="container chat-box">
                <div class="start_chat">
                    <h2>🦝 어떤 숙소를 찾고 있나요?</h2>
                </div>
            </div>
            <div class="chat_input ">
                <input id="user_input" type="text" placeholder="원하는 숙소를 검색해보세요!">
                <button class="btn btn-primary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
        <div id="loading-overlay">
            <strong id="loadingtext">🦝찾아보는중🦝</strong>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    $(document).ready(function(){
        $("#btn_search").click(function(){
            let user_query = $("#user_input").val();
    
            if (user_query === "") {
                alert("질문을 입력하세요!");
                return;
            }
    
            // 사용자 질문 추가
            $("#chat-box").append(`<div class="bubble-q"><div class="bubble">${user_query}</div></div>`);
            $("#user_input").val(""); // 입력창 비우기
    
            // 서버에 Ajax 요청
            $.ajax({
                url: "{% url 'project4:chat_response' %}",
                type: "POST",
                data: {
                    query: user_query,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },beforeSend: function() {
                    // AJAX 요청 전 로딩 오버레이 표시
                    $("#loading-overlay").show();
                },
                success: function(response) {
                    $("#loading-overlay").hide();
                    $(".start_chat").css('display', 'none');
                    let markdownAnswer = response.response;
                    
                    // 마크다운을 HTML로 변환
                    let rawHtml = marked.parse(markdownAnswer);
                    
                    // 변환된 HTML을 정화하여 안전하게 만듦
                    let cleanHtml = DOMPurify.sanitize(rawHtml);
                    
                    // 정화된 HTML을 채팅 박스에 추가
                    $("#chat-box").append(`<div class="bubble-a"><div class="bubble">${cleanHtml}</div></div>`);
                    $("#chat-box").scrollTop($("#chat-box")[0].scrollHeight); // 스크롤 아래로 이동

                },
                error: function(xhr) {
                    alert("오류 발생: " + xhr.responseJSON.error);
                }
            });
        });
    
        // Enter 키 입력 시 검색 버튼 클릭
        $("#user_input").keypress(function(event) {
            if (event.which === 13) {
                $("#btn_search").click();
            }
        });
    });
</script>
{% endblock %}