{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>📂숙박구리🦝</title>
</head>
<body>
    <div id="out_box">
    <!-- 네비 -->
    {% include "navbar.html" %}
    <div id="main_box">
        <div id="side_box" class="on">
            {% if user.is_authenticated %}
            <h4 class="select_side"><a class="nocolor"  href="#">선택 대화방</a></h4>
            <h4><a class="nocolor"  href="#">대화방 리스트1</a></h4>
            <h4><a class="nocolor"  href="#">대화방 리스트2</a></h4>
            <h4><a class="nocolor"  href="#">대화방 리스트3</a></h4>
            {% else %}
            <p>
                🦝 대화 저장을 원하시면 로그인해 보세요.
                <button class="btn btn-primary"><a href="{% url 'common:login' %}">Login</a></button>
            </p>
            {% endif %}
        </div>
        <div id="cont_box">
            {% block content %}
            {% endblock %}
        </div>
        <span id="side_onoff" class="open">
            <strong>닫기</strong>
        </span>
    </div>
    
    <!-- 컨텐츠 -->
    

    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$('#side_onoff').on('click', function() {
    $(this).toggleClass('open close').text($(this).hasClass('open') ? '닫기' : '열기'); 
    $('#side_box').toggleClass('on off'); 
});
</script>





